body {
    background-color:rgb(246, 246, 246);
  }
   h1{
    text-align: center;
   }
   .mini-nav{
    text-align: center;
    text-decoration: none;
    margin-top: 5vh;
  }
  .mini-nav a{
    margin-left: 2vw;
    margin-right: 2vw;
  }
    table {
      width: 90%;
      margin: auto;
      margin-top: 5vw;
      border-collapse: collapse;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
     
      }
    th{
      background-color: rgb(144, 140, 149);
      color: black;
       font-size: 1.4vw;
      }
      table td {
      border-top: 0.1vw solid rgb(144, 140, 149); 
      padding: 0.3vw; 
      text-align: center;
      
      }
      
    .button-delete{
      background-color: #ff0004;
      border: none;
       color: black;
       padding: 5px 15px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 2px 2px;
       cursor: pointer;
       border-radius:5% ;
       font-weight: bold;
    }
    i{
      color: black;
      position: relative;
      left: 5vw;
      bottom: 10vh;
    }
  
     i:hover{
     
      text-shadow: 8px 8px 8px #58585f;
      transition: 0.1s;
    
    }
  
  