*{
    scroll-behavior: smooth; 
    box-sizing: border-box;
  
 }
 body, html{
   margin:0;
   padding:0;
   background-color: inherit;
 }
 /*Navigacija*/
 nav{
     position: fixed;
     top:0vw;
     left: 0vw;
     right: 0vw;
     bottom: 0vw;
     height: 3vw;
     text-align: center;
     padding-top:1vh;
     width: 100vw;
     background-color:rgb(0, 0, 0);
     opacity: 90%; 
     z-index: 10;
 }


 
 #main-menu a{
     position: relative;
     top: 0vw;
     font-size: 1.8vh;
     text-decoration: none;
     color: white;
     padding: 0.8vw 2vw;
     height: 2vw;
     border-right: 0.2vw solid rgb(15, 15, 15);
    
 }
 
 #main-menu a:hover{
     border-bottom: 0.2vw solid white;
     /*border-left: 0.2vw solid white;*/
     text-transform: uppercase;
 }


 
 #prviLink{
     border-left: 0.2vw solid rgb(15, 15, 15);
 }
 .sidenav {
     height: 25vw;
     width:  4vw;
     position: fixed;
     z-index: 1;
     top: 10vw;
     right: 0;
     background-color:inherit;
     overflow-x: hidden;
     padding-top: 20px;
   }
   
   .sidenav a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 25px;
     color: rgb(222, 194, 33);
     display: block;
   }
   
   .sidenav a:hover {
     color: #f1f1f1;
   }
   
 /*Narudzbe poslagani proizvodi*/
 /*.card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 20vw; 
     margin-left:10vw;
     margin-right: 10vw;
     padding-bottom: 2vh;
     text-align: center ;
     font-family: arial;
     display: inline-grid;
     grid-template-columns: auto; 
   }*/
   
   .price {
     color: grey;
     font-size: 2.5vh;
   }
   

 
 .Potvrdi{
   position: relative;
   left: 87vw;
   bottom:5vh;
   border: none;
   outline: 0;
   padding: 1.7vh;
   padding-left: 2vw;
   padding-right: 2vw;
   margin-bottom: 3vh ;
   color: white;
   background-color:#000;
   text-align: center;
   cursor: pointer;
   font-size: 2vh;
   text-decoration: none;
 
 }
 .Potvrdi:hover {
   opacity: 0.7;
 }
 
   .section2 {
    text-align: center;
     padding-top: 5vw;
     padding-bottom: 5vw;
     height: 97vh;
     background-color: white;
   }
  
   .vise{
    text-align: right;
    margin-right: 2vw;
    margin-bottom: 5vh;
  }
  
 
   /* Pocetna*/
   .section1 {
     background-image: url("../storage/PocetnaSlike/Restoran.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     color: rgb(255, 221, 29);
     text-align: center;
     font-size: 3vh;
     padding-top: 4vw;
     padding-bottom: 5vw;
     height: 97vh;
     font-family: "Sofia", sans-serif;
 
     
   }
 
  .section1 h1{
   font-size: 15vh;
   text-shadow: 5vh 5vh 5vh #000000;
  }
  .section1 p{
    font-size: 5vh;
    text-shadow: 2vh 2vh 2vh #000000;
  }
 
 
 /*O nama*/
 .section3 {
     padding-top: 1vh;
     padding-bottom:5vh;
     margin-right: 0vw;
     width: 100%;
     height: 85vh;
     margin-bottom: 0vh;
     box-sizing: border-box;
     background-image: radial-gradient(circle, white, rgb(209, 207, 207), rgb(128, 126, 126));
    
   }
   #kontakt{
     padding-right: 5vw;
   }
 
   textarea{
     height: 15vh;
     width: 30vw;
   }
 
   .stupac {
     float: left;
     width: 50%;
     height: 75vh;
    
   }

   .mapa{
     height: 35vh;
     width: 35vw;
   }
   .potvrdiUpit{
    
     border: none;
     outline: 0;
     height: 6vh;
     color: white;
     background-color:#000;
     text-align: center;
     cursor: pointer;
     font-size: 2vh;
     text-decoration: none;
   }
   .admin{
    border-left: 0.2vw solid rgb(15, 15, 15);
    position: relative;
    left: 25vw;
  }
  #kosarica{
    border-left: 0.2vw solid rgb(15, 15, 15);
    position: relative;
    right: 28vw;
  }
  .KorisnikSlika{
    vertical-align: middle;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
  }

  .container{
  margin: auto;
  margin-top: 5vh;
  padding-left: 2vw;
  max-width: 60%;
}

#kontaktRadnoVrijeme{
  max-width: 90%;
}

#kontaktRadnoVrijeme .row{
  margin-bottom: 5vh;
}

img{
  width:10vw;
   height:23vh;
}



footer{
  background-image: radial-gradient(circle, white, rgb(209, 207, 207), rgb(128, 126, 126));
  border-top: 1px solid black;
  height: 5vh;
  width: 100%;
  padding-top:1vh;
  margin-top: 0vh;
  text-align: center;
  padding-bottom: 2vh;
}
