body, html{
  background-image: radial-gradient(circle, white, rgb(209, 207, 207), rgb(173, 170, 170));
 } 
 
   form label{
        position:relative;
         text-align: left;
         font-size: 1.5vw;
         text-align: left;
         font-weight: bold;
         
         
         
     }
  .card{
    margin:auto;
    margin-top: 7vh;
    background-color: rgb(240, 240, 240);
    width: 90vw;
  }

  .cardVerifikacija{
    margin:auto;
    margin-top: 7vh;
    background-color: rgb(240, 240, 240);
    width: 60vw;
  }

    
     h1{
         margin-top: 5vh;
         text-align: center;
     }
     .uredi{
         position: relative;
         border: 2px solid black;
         margin:auto;
         margin-top: 5vh;
         padding-right:6vw;
         padding-left: 6vw;
         padding-bottom: 3vw;
         padding-top: 3vw ;
         width: 35vw;
         block-size: fit-content;
         line-height: 2vw;
         border-radius: 5%;
         text-align: left;
         background-color: rgb(255, 255, 255);
     }

     .editPocetna{
      position: relative;
      margin:auto;
      margin-top: 5vh;
      margin-bottom: 5vh;
      padding-right:6vw;
      padding-left: 6vw;
      padding-bottom: 3vw;
      width: 80%;
      block-size: fit-content;
      line-height: 2vw;
      border-radius: 5%;
      text-align: left;
  }


     .urediPodatke
     {
      position: relative;
      border: 2px solid black;
      margin-left: 30vw;
      padding-right:5vw;
      padding-left: 6vw;
      padding-bottom: 5vh;
      padding-top: 5vh ;
      width: fit-content;
      block-size: fit-content;
      line-height: 2vw;
      border-radius: 5%;
      text-align: left;
      margin-bottom: 10vw;
      margin-top: 10vw;
      background-color: rgb(226, 208, 208);
  }
    
  

     
     

     .dropdown-menu{
    
     }

     .natrag i{
      position:absolute;
      left: 3vw;
      top: 2vh;
      color: white;
      font-size: 2.5vh ;
     }
     .odjava{
      position:absolute;
      right: 5vw;
      top: 2vh;
      color: white;

   }
   .odjava :hover{
    /*border-right: 0.2vw solid white;*/
    color: rgb(5, 5, 5);
    border-bottom: 0.2vw solid white;
    text-transform: uppercase;
  }
 
  .natrag :hover{
    /*border-right: 0.2vw solid white;*/
    color: white;
    border-bottom: 0.2vw solid white;
    text-transform: uppercase;
  }

     .natrag-edit{
      position:relative;
      right: 3vw;
      top: -7vh;
   }

   
 
 i{
  color: black;
  font-size: 2vh;
 }
  
     i:hover{
     
      text-shadow: 8px 8px 8px #cccccf;
      transition: 0.1s;
    
    }
    .narudzbe{
      width: 90%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 5vh;
    }
    .upiti{
      width: 90%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 5vh;
    }
    .proizvodi{
      width: 90%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 5vh;
    }
    .korisnik{
      width: 90%;
      margin: auto;
      margin-top: 3vw;
      margin-bottom: 5vh;
    }
   .nav-item :hover{
      cursor: pointer;
   }
  
    .tablica {
        width: 90%;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 5vh;
        border-collapse: collapse;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
       
        }
     h2{
        width: 90%;
        margin: auto;
        margin-top: 2vw;
     }


     .table_id th{
      background-color: rgb(179, 176, 183);
      color: black;
      text-align: center;
     }

      .tablica th{
        background-color: rgb(144, 140, 149);
        color: black;
         font-size: 1.4vw;
         text-align: center;
        }
        .tablica td {
        border-top: 0.1vw solid rgb(144, 140, 149); 
        padding: 0.3vw; 
        text-align: center;
        
        }
        table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
          text-align: center;
      }
        
   
   

      form label{
        position:relative;
         text-align: left;
         font-size: 1.5vw;
         text-align: left;
         font-weight: bold;
            
     }

     form input{
      text-align: left;
      border: 1.7px solid black;
      line-height: 1.5vw;
      height: 2.5vw;
      width: 100%;
      font-size: 2.5vh;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
  }
      .form-check-input{
       position: relative;
       left: 3vw;
        top: 0.5vh;
        border: 1.7px solid black;
        line-height: 2vw;
        height: 1.2vw;
        width: 1.2vw;
        margin-top: 1.5vh;
       
     }
  
  
    
     h1{
         margin-top: 0.1vw;
     }
   
  #SlikaProizvoda img{
    width: 10vw;
    height: 10vh;
 }

 .button-dodaj{
  margin-bottom: 2vh;
}
.button-excel{
  position: relative;
  background-color: rgb(255, 255, 255);
   bottom: 5vh;
   left:38vw;
}

/*.form-control{
  height: 7vh;
  width: 30vw;
}*/
 
.slika{
  border: none;
}
.PregledNarudzbi{
  width: 90%;
   
        margin: auto;
      margin-top: 3vw;
      margin-bottom: 5vh;
}
.PregledNarudzbi th{
  text-align: center;
}  



.gumbi button{
  font-size: 2vh;
  margin-left: 0.5vw;
  width: 4vh;
  height: 4vh;
  border-radius: 30%;
}
.gumbi a{
  font-size: 2vh;
  margin-left: 0.5vw;
  width: 4vh;
  height: 4vh;
  background-color: buttonface;
  padding: 1px 6px;
  border: 0.3vh solid black;
  border-radius: 30%;
}

nav{
  position: absolute;
  top:0vw;
  left: 0vw;
  right: 0vw;
  bottom: 0vw;
  text-align: center;
  height: 6.5vh;
  width: 100%;
  background-color:rgb(5, 5, 5);
  opacity: 80%;
  padding-top: 1.5vh;
}

.admin{
  position: relative;
  left: 25vw;
}
#kosarica{
  position: relative;
  right: 28vw;
  color:white;
}
.KorisnikSlika{
  vertical-align: middle;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
}

 .gumbi .crvena{
  background-color: red;
}

.gumbi .zelena{
  background-color: green;
}
.UrediSlika{
  position: absolute;
  left: 3vw;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}
.uredikosarica{
  position: relative;
  border: 2px solid black;
   margin: auto;
  padding-right:6vw;
  padding-left: 6vw;
  padding-bottom: 3vw;
  padding-top: 3vw ;
  width: fit-content;
  block-size: fit-content;
  line-height: 2vw;
  border-radius: 5%;
  text-align: left;
  margin-bottom: 5vw;
  margin-top: 2vw;
  background-color: rgb(255, 255, 255);
 }