body, html{
    background-image: radial-gradient(circle, white, rgb(209, 207, 207), rgb(173, 170, 170));
    background-repeat: no-repeat;
  
   }
   .naslov{
    text-align: center;
    margin: 0;
    margin-bottom: -4.5vh; ;
   }
     
     form label{
        position:relative;
         text-align: left;
         font-size: 1.5vw;
         text-align: left;
         font-weight: bold;
         
         
         
     }
  
     form input{
      text-align: left;
      border: 1.7px solid black;
      line-height: 1.5vw;
      height: 3vw;
      width: 35vw;
      font-size: 2.5vh;
      margin-top: 0.5vh;
      margin-bottom: 0.5vh;
  }
     .select{
        text-align: left;
         border: 1.7px solid black;
         line-height: 1.5vw;
         height: 2.5vw;
         width: 28vw;
         font-size: 2.5vh;
     }
    
     h1{
         text-align: center;
         margin-top: 0.3vw;
     }

    
  
  
     .uredikosarica{
      position: relative;
      border: 2px solid black;
      margin-left: 25vw;
      padding-right:6vw;
      padding-left: 6vw;
      padding-bottom: 3vw;
      padding-top: 3vw ;
      width: fit-content;
      block-size: fit-content;
      line-height: 2vw;
      border-radius: 5%;
      text-align: left;
      margin-bottom: 5vw;
      margin-top: 2vw;
      background-color: rgb(255, 255, 255);
     }
     .natrag{
         position: relative;
         left: 0vw;
         top:-3.5vw;
         height: 2vw;
         width: 2vw;
     }
     .naslov{
      text-align: center;
     }
     .button-confirm{
    
      background-color: #0a670d;
      border: none;
       color: black;
       padding: 5px 15px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       margin: 2px 2px;
       margin-top: 0vh;
       cursor: pointer;
       font-size: 2vw;
       font-weight: bold;
       text-align: center;
       height: 3.5vw;
       width: 28vw;
    
    }
     
    .button-confirm:hover{
      border: 0.4vh solid;
      padding: 10px;
      box-shadow: 4px 6px;
      font-size: 1.7vw;
    }
  
    i{
      position: relative;
      bottom: 6vh;
      color: black;
    }
  
     i:hover{
     
      text-shadow: 8px 8px 8px #58585f;
      transition: 0.1s;
    
    }
    .slika{
      border: none;
    }
    .naslov{
      position: absolute;
      left: 15vw;
       top: 10vh;
    }

    .UrediSlika{
      position: absolute;
      left: 5vw;
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
    }
    .sadrzaj{
      margin-top: 7vh;
    }
   
